@import 'variables.less';
@import 'mixins.less';

.chat-contact-avatar {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.last-message-timestamp {
}

.chat-room-item {
  height: 60px;
  line-height: 60px;
  padding: 5px 20px;
  position: relative;

  .unread-messages {
    margin-left: 5px;
    background-color: #d32a2a;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center
  }
}

.contact-name {
  cursor: pointer;
}
