@import 'variables.less';
@import 'mixins.less';

.chat-contact-avatar {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 50%;
}

.last-message-timestamp {
}

.chat-room-item {
  padding: 5px 20px;
  position: relative;

  .unread-messages {
    margin-left: 5px;
    background-color: #d32a2a;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

.contact-name {
  cursor: pointer;
}
#matrixChatButton {
 .v-badge__badge{
   height: 12px !important;
   min-width: 12px !important;
 }
}