@import 'variables.less';
@import 'mixins.less';

.chat-contact-avatar {
  width: 52px;
  height: 52px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.chat-top-drawer-avatar {
  width: 36px;
  height: 36px;
  background-size: cover;
}

.last-message-timestamp {
  height: 28px;
  justify-content: end;
  display: flex;
  align-items: center;
}

.chat-room-item {
  padding: 5px 20px;
  height: 76px;
  position: relative;

  .unread-messages {
    margin-left: 5px;
    background-color: #BC4343;
    color: #FFFFFF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
  }
}

#matrixChatButton {
  .v-badge__badge{
    height: 12px !important;
    min-width: 12px !important;
  }
}

.text-bold {
  font-weight: bold !important;
}

.matrix-user-status {
  margin-top: auto;
  margin-left: auto;
}

.matrix-status-online {
  color: @successColor !important;
}

.matrix-status-unavailable {
  color: @errorColor !important;
}

.matrix-status-offline {
  color: @greyColorLighten1Default !important;
}

.content-align {
  align-content: center;
}